{% extends 'base.html' %}

{% block title %}Login{% endblock title %}

{% block content %}
    <h1>login</h1>
    
    {% if form.errors %}
        <p>
            Your name and password didn't match.
            Please try again
        </p>
    {% else %}
        <p>
            Please enter your name and password to log in.
        </p>
    {% endif %}

    <div class="login-form">
        <form action="{% url 'login' %}" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}"/>
            <p><input type="submit" value="Login"></p>
        </form>
    </div>
        
{% endblock content %}